.container{
    background-color: burlywood;
    color: darkmagenta;
}
.heading{
    background-color: aqua;
    color: darkblue;

}
.headings{
    background-color: darkorange;
    color: navy;
}
.rabia{
    background-color:pink;
    color: darkgreen;
}