.rabia{
    background-color: aqua;
    color:blue
}
.heading{
    background-color: blanchedalmond;
    color: brown;
}
.headings{
    background-color: blanchedalmond;
    color: blueviolet;
}
.headingss{
    background-color: aqua;
    color: crimson;
}
.headingsss{
    background-color: antiquewhite;
    color:navy;
}